.event-img {
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  font-size: 0
}

.event-img-lcp {
  scale: 1.01;
}


.event-item {
  width: 33%;
  @media only screen and (max-width: $md) {
    width: 100%
  }
}

.event-col {
  background-color: $light;
  border-radius: 0.25rem;
  transition: 200ms;
  cursor: pointer;
}

.event-col:hover {
  background-color: lighten($light, 5);
  transition: 200ms;
}
.event-col-coming {
  background-color: darken($light,2.5);
  border-radius: 0.25rem;
}

.event-div {
  background-color: rgba($mid, 0.6);
  border-radius: 0.5rem;
}
.event-item-time {
  opacity: 0.9;
  font-size: 0.85rem;
}

.event-item-time-over {
  color: rgb(197, 197, 197);
}
.event-item-time-ending {
  color: $physical;
}
.event-item-time-coming {
  color: $golden;
}

.negative-margin {
  margin-top: -0.75rem;
}

.event-page-img {
  width: 60%;
  text-align: center;
  @media only screen and (max-width: $md) {
    width: 100%
  }
}


.event-calendar {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  width: 100%;
  margin: 20px;
}

.timeline {
  position: relative;
}

.days {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  padding-bottom: 5px;
}

.day {
  width: calc(100% / 30); /* Adjust for the number of days in the month */
  text-align: center;
  font-size: 12px;
  border-right: 1px solid #ccc;
  padding: 0 5px;
}

.event-row {
  position: relative;
  height: 40px; /* Adjust height to fit your needs */
  border-bottom: 1px solid #ddd;
}

.event {
  position: absolute;
  height: 20px;
  background-color: #C2B67E;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  padding: 2px 5px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.opacity-0 {
  opacity: 0;
}

.skeleton {
  background-color: rgba($lighter, 0.6);
  width: 100%;
  height: 200px;
  @media only screen and (max-width: $md) {
    height: 180px;
  }
  border-radius: 8px;
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}


@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0.4; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.4; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.4; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.4; }
  100% { opacity:1; }
}

.animate-flicker {
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
   animation: flickerAnimation 1s infinite;
}
