.menu-dropdown {
  color: inherit!important;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border: inherit!important;
  border-radius: inherit!important;
  background-color: none!important;
}