.skill-list-container {
  max-width: 1450px!important;
}
.skill-list-item {
  width: 33%;
  @media (max-width: 767px) {
    width: 100%;
  }
}
.trait-list-item {
  width: 50%;
  @media (max-width: 767px) {
    width: 100%;
  }
}



.skill-chars {
  background-color: rgba($mid, 0.6);
  text-transform: uppercase;
  color: white;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  transition: 100ms;
}

.trait-lvs {
  cursor: pointer;
}
.trait-lvs:hover {
  background-color: rgba($mid, 0.4);
}

.castlia-rec-img {
  width: 3rem;
  position: absolute;
  right: 0;
}

.castlia-rec-container {
  position: relative;
}

.rec-bg {
  justify-content: left;
  @media only screen and (max-width: $md) {
    justify-content: center;
  }
}

.star-margin {
  margin-top: -0.5rem;
}


.engraving-title {
  color: #ffc767;
  font-size: 1.2rem;
}
.engraving-icon {
  width: 1.8rem;
  height: 1.8rem;
}