.boss-img {
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  display: table;
}